* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-size: 16px;
  background-color: #f5f5f5;
  color: #0f1626;

}
/*NavBar*/
.navbar {
  margin-top: 2px;
}
.container-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#logo-title{
  margin-top: -5px;
  margin-left: 30px;
}
.btn-li{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-nav{
  text-decoration: none;
  height: 60%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f1626;
  transition: .5s;
}
.btn-nav:hover{
  background-color: #060a14;
  color: azure;
  transition: .5s;
}

.d-flex{
  display: flex;
  justify-content: center;
}

.btn-basket {
  height: 38px;
  width: 54px;
  background: none;
  border: none;
  border-radius: 50px;
  margin-right: 25px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo-cart{
  width: 25px;
  height: 25px;
  color: #0f1626;
  transition: .5s;
}
.logo-cart:hover {
  color: grey;
  transition: .5s;
}
.count{
  position: relative;
  bottom: 20%;
  right: 4%;
}

#users, #basket{
  height: 32px;
  width: 32px;
}

.li-item{

  background: rgba(255, 253, 253, 0.8);
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(8, 8, 8, 0.8);
  text-decoration: none;
  color: black;
}
.li-item:hover{
  text-decoration: none;
  color: grey;
}

.card {
  margin-bottom: 10px;
}
.card .img-item {
  margin-top: 5px;
  width: auto;
  height: 280px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card{
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(241, 241, 241, 0.8);
}
.card p {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}
.subtract, .add{
  font-weight: bold;
  text-decoration: none;
  color: #282c34;
}
.subtract:hover , .add:hover {
  color: cornflowerblue;
}
.btnAdd{
  width: 100%;
  margin-bottom: 10px;
}

.itemDetail{
  width: 40%;
  margin-left: 5%;
  margin-top: 3%;
}
.itemDetail .img-detail{
  width: 500px;
  height: 500px;
}
/*CartView Css*/
.cart-container{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.cart-container-tables{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.cart-items-container{
  width: 74%;
  display: flex;
  flex-wrap: wrap;
}
.cart-items {
  width: 98%;

}
.cart-item{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid grey;
  border-radius: 5px;
  margin-top: 2px;
}
table {
  width: 100% ;
  text-align: center;

}
table th, td {
  padding-right: 5px;
  width: 20% ;
  text-align: center;

}
.cart-item--title{
  width: 35%;
}
.cart-item-title{
  width: 35%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.cart-item-img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.cart-item-price, .cart-item-count, .cart-item-total{
  width: 20%;
  text-align: center;

}
.cart-item--price, .cart-item--count, .cart-item--total{
  width: 20%;
  text-align: center;
}

.cart-item-action{
  width: 10%;
}
.delete-bin{
  width : 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.bin{
  width: 30px;
  height: 30px;
  transition: .5s;
}
.bin:hover{
  color: beige;
  transition: 0.5s;
}
.btn-remove{
  width: 98%;
  display: flex;
  justify-content: right;
  margin-top: 15px;
}

.cart-order{
  width: 24%;
}
.order-total{
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid grey;
  border-radius: 5px;
}
.btn-order{
  width: 100%;
  margin-top: 5px;

}
/*Footer*/
.footer{
  width: 100%;
  display: flex;
}
.footer--btn{
  width: 20%;
  display: flex;

}
.footer--copyright {
  width: 30%;

}
.footer--link{
  width: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
