* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-size: 16px;
  background-color: rgb(250, 118, 52);
}nav{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container-nav{
  width: 100%;
  margin-top: -8px;
}
.form-search, .btns{
  height: 40px ;
}
.row-one{
  background-color: rgba(243, 238, 235, 0.3);
  height: 40px;
}
#logo-title{
  margin-left: 20px;
}

form {
  width: 60%;
  margin-left: 40%;
  height: 34px;
  margin-top: -1px;
}
.form-text{
  display: flex;
	background:rgba(255, 254, 254, 0.644);  
  height:34px;
	border:2px solid rgb(235, 105, 40);
  width: 100%;
  font-size: 18px;
  padding:2px;
  padding-inline-start: 10px;
  color: rgba(8, 8, 8, 0.8);
}
.form-text:focus{
  outline: none;
}

.btns{
  display: flex;
  justify-content: end;
  justify-items: center;
}
#btn-users{
  background-color: #61dafb;
  height: 34px;
}
.btn-user, .btn-basket {
  height: 36px;
  width: 36px;
  margin-top: 2px;
  background: none;
  border: none;
  border-radius: 50px;
  margin-right: 25px;
}
.btn-basket {
  margin-right: 30px;
}

.btn-user:hover, .btn-basket:hover{
  background: rgba(255, 255, 255, 0.5);
  transition: 1s;
  
}
#users, #basket{
  height: 32px;
  width: 32px;
  
}
.ul-items{
  display: flex;
  flex-direction: wrap;

  justify-content: space-between;
  padding-right: 90px;
  padding-left: 20px;
  margin-top: 10px;
}
.ul-li{
  list-style-type: none;
}
.li-item{

  background: rgba(255, 253, 253, 0.8);
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(8, 8, 8, 0.8);
  text-decoration: none;
  color: black;
}
.li-item:hover{
  text-decoration: none;
  color: grey;
}

.card {
  margin-bottom: 10px;
}
.card .img-item {
  margin-top: 5px;
  width: auto;
  height: 280px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card{
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(241, 241, 241, 0.8);
}
.card p {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}
.subtract, .add{
  font-weight: bold;
  text-decoration: none;
  color: #282c34;
}
.subtract:hover , .add:hover {
  color: cornflowerblue;
}
.btnAdd{
  width: 100%;
  margin-bottom: 10px;
}

.itemDetail{
  width: 40%;
  margin-left: 5%;
  margin-top: 3%;
}
.itemDetail .img-detail{
  width: 500px;
  height: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
